<footer id="footer">
  <nav>
    <ul>
      <!--
        <li><span>Tremor</span></li>
-->
      <li>
        <a href="https://docs.tremor.rs/CodeOfConduct/">Code of Conduct</a>
      </li>
      <li>
        <a href="https://www.tremor.rs/">The Tremor Project</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="https://twitter.com/{{.Site.Params.twitter}}">@TremorDEBS</a>
      </li>
    </ul>
  </nav>
  <p>
    &copy; 2020 The Tremor Contributors.. Content under ASL 2 License. Theme
    under MIT License.
  </p>
</footer>
