<footer id="footer">
  <nav>
    <ul>
      <li>
        <a href="https://docs.tremor.rs/CodeOfConduct/">Code of Conduct</a>
      </li>
      <li>
        <a href="https://www.tremor.rs/">The Tremor Project</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="https://twitter.com/{{.Site.Params.twitter}}">@TremorDEBS</a>
      </li>
      <li>
        <a href="https://www.cncf.io/"
          ><img src="/img/cncf-color.svg" alt="CNCF Logo" style="width: 40%"
        /></a>
      </li>
    </ul>
  </nav>
  <p>
    &copy; 2020 The Tremor Contributors. Content under ASL 2 License. Theme
    under MIT License.<br />
    Copyright The Linux Foundation. All rights reserved. The Linux Foundation
    has registered trademarks and uses trademarks. For a list of trademarks of
    The Linux Foundation, please see our
    <a href="https://www.linuxfoundation.org/trademark-usage/"
      >Trademark Usage</a
    >
    page.<br />
    We are a
    <a href="https://www.cncf.io/sandbox-projects/"
      >Cloud Native Computing Foundation sandbox project</a
    >
  </p>
</footer>
