{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
    <figure>
      <img alt="Why Tremor Stats" src="/img/tremor/stats.png" height=659 width=2400 />
    </figure>

    <p>
      Tremor is particularly well suited to log and metrics shipping resulting in
      10x less hosts, 10x less CPU and 10x less memory footprint than alternatives
      such as logstash.<br />

      <p>
        For data distribution at scale tremor introduces proactive rate limiting and
        back-pressure handling. These facilities mean that when systems go
        over-capacity during peak eCommerce trading environments where we are
        running with scaled up infrastructure ( such as Cyber 5 ) - that upstream
        or downstream resource saturation has no negative impact on our production
        operations.<br />

        <p>
          Tremor replaces logstash, telegraf and other data distribution tools at
          (Wayfair)[https://www.wayfair.com] with a single easy to use, easy to
          configure high performance tool with consistent robust performance.
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/wayfair-tremor/tremor-runtime/releases"
      onclick="_gaq.push(['_trackEvent', 'tremor-runtime', 'download']);">Download</a> <a class="button outline big"
      href="https://github.com/wayfair-tremor/tremor-runtime"
      onclick="_gaq.push(['_trackEvent', 'tremor-runtime', 'github']);">View on Github</a>
    <p>Zip-archive, includes all the source and site example files</p>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}